/* Home page styles */

.section-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #2d6a4f;
  margin-bottom: 1rem;
}

#map {
  height: 520px;
}

@media (max-width: 768px) {
  /* rules in here only apply when screen width ≤ 768px */
  #map { height: 320px; }
}

.map_container {
  position: relative;
}

.map_overlay {
  z-index: 1000;
}